{% extends 'glowny.html' %}
{% load bootstrap %}

{% block tytul %} Oferty {% endblock %}

{% block strona %}
<a href="{% url 'oferty' %}">Powrót</a>
<hr style="width:50%;text-align:left;margin-left:2">  
    <div class="card" style="width: 50rem;">
        <div class="card-body">
        <h5 class="card-title">Nagłówek oferty</h5>
                
                    {% csrf_token %}
                    {{ oferta_form | bootstrap }}
                    
                </form>
        </div>
    </div>
    <hr style="width:50%;text-align:left;margin-left:2">  
    <div class="card" style="width: 50rem;" row="3"></div>
    
        <div class="card-body">
        <h5 class="card-title">Dodaj indeks</h5>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ indeksy_form | bootstrap}}
                    <button type="submit">Dodaj nowy indeks</button> <a href="{% url 'indeksy_kontrahent' t %}">wybierz</a> <a href="{% url 'indeksy_oferta' t %}">wybierz2</a>
                </form>
        </div>
    </div>   

    
     
    {% for indeks in indeksy %}
        
        
        
        <hr style="width:50%;text-align:left;margin-left:0">  
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{indeks.indeks }}
                
              <span class="badge badge-primary badge-pill" style="color:blue">{{indeks.ilosc}} szt.</span>
            </li> 
        </ul> 
              <a href="{% url 'edytuj_indeks' indeks.id %}">edytuj</a> <a href="{% url 'usun_indeks' indeks.id %}">Usuń</a>
                
            
            
            
            
          
    {% endfor %}    
{% endblock %}