{% extends 'glowny.html' %}

{% block tytul %} edytuj indeks {% endblock %}

{% block strona %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ indeksy_form }}
    <button type="submit" value="Add">Zapisz</button>
    <button></button>
</form>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ technologia_form }}
    <button type="submit" value="Add">Zapisz</button>
    <button></button>
</form>
{% for techno in technologia %}
        

        <form method="get" enctype="multipart/form-data">
        {% csrf_token %}
        {{technologia.indeks }} <button type="submit">Dodaj indeks</button>
        </form>
        

{% endfor %}    
{% endblock %}