{% extends 'glowny.html' %}
{% load bootstrap %}

{% block tytul %} Oferty {% endblock %}

{% block strona %}
<a href="{% url 'oferty' %}">Powrót</a>
<hr style="width:50%;text-align:left;margin-left:2">  
    <div class="card" style="width: 50rem;">
        <div class="card-body">
        <h5 class="card-title">Nagłówek oferty</h5>
                <form>
                    {% csrf_token %}
                    {{ oferta_form | bootstrap }}
                    <button type="submit">Zapisz</button>                
                </form>
        </div>
    </div>
    
    
     <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ indeksy_form }}
            <button type="submit" >Dodaj indeks</button>
     </form>
    
    <h3>Indeksy:</h3>
    {% for indeks in indeksy %}
        <h3></h3>
        <h3>Indeks: {{indeks.indeks}} | {{indeks.ilosc}}</h3>
        <a href="{% url 'usun_indeks' indeks.id %}">Usuń</a>
        <hr style="width:50%;text-align:left;margin-left:0">  

    {% endfor %}    
{% endblock %}