{% extends 'glowny.html' %}

{% block tytul %} edytuj indeks {% endblock %}

{% block strona %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ indeksy_form }}
    <button type="submit" >Zapisz</button>
    <button></button>
</form>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ techno_form }}
    <button type="submit" >Zapisz</button>
    <button></button>
</form>
{% for tech in technologia %}
        
<h5>{{tech.operacja.operacja }} {{tech.tj }} {{tech.tpz }}</h5>
{% endfor %}


   
{% endblock %}