{% extends 'glowny.html' %}

{% block tytul %} Kalkulator wagi {% endblock %}

{% block strona %}

<style>

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
[type=radio] + img {
  cursor: pointer;
  height: 50px;
  width: 50px;
  float:left
  
}
/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid rgb(82, 79, 79);
}
[type=radio] + img:hover
 {
  background-color: rgb(173, 189, 189);
}

#container
{
    
    margin: 0;
    width: auto;

}
#top{
    width: 850px;
    margin: 0 auto;
    
    
}
#profiles{
    width: 450px;
    height: 100px;
    
    color: black;
    text-align: center;
    float:left
    
}


#cena{
    width: 150px;
    
    color: black;
    text-align: center;
    float:left;
    
    
}
#gatunek
{
    width: 150px;
    height: 100px;
    text-align: center;
    float:left;
    
}

#price
{
    overflow: hidden;
    height: 34px;
    margin: 6px 0;
    box-sizing: border-box;
    border-radius: 2px
    

}
.price
{
    height: 34px;
}
#dodaj_gatunek
{
    
    float:left;
    

    
}


#price:hover {
    box-shadow: 1px 1px #37373a;
    

}


.btn{
    
    padding: 15px;
    
    
}
#btn:hover {

    color: #216a94;
    text-decoration: underline;

}
.profil
{
    
    display: inline-block;
    margin-top: auto;
    margin: 0 auto;}
#labels
{
    
    width: 850px;
    height: 150px;
    background-color: rgba(250, 235, 215, 0.253);
    color: black;
    text-align: center;  
    margin: 2px auto;
    clear: both;
    
    
}
#results
{
    
    width: 850px;
    height: 100px;
    background-color: rgba(250, 235, 215, 0.253);
    color: black;
    text-align: center;  
    margin: 1px auto;
    
    
    clear: both;
}
#result
{
    float: left;
    padding: 20px;
    color: aqua;
    text-align: center;
    margin: 0;
    width: 425px;
    font-size: 30px;

}
#weight
{
    float: right;
    padding: 20px;
    text-align: center;
    margin: 0;
    width: 425px;
    font-size: 30px;
    color: aqua;
    
    
}

.entry
{
    display: inline-block;
    padding: 10px 20px;
    
    
}

.left2 {
    overflow: hidden;
    
    padding: 15px 0px 10px 144px;   
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 2px
}

.left2:hover {
    box-shadow: 1px 1px #7286f7;
}


.left2 input {
    width: 100%
    
    
}
.quantity {
  position: relative;
}



.quantity input {
  width: 120px;
  height: 26px;
  line-height: 1.65;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #fafbff;
}

.quantity input:focus {
  outline:1px;
  outline-color: #7286f7;
  outline-style: solid;
}


h4{
    color: #fafbff;
    font-size: 18px;
    font-weight: 600;
    
}
.btn2{
    
    float: right;
    margin: auto;
    padding-right: 20px;
    text-decoration: underline;

}

.calculate{
    color:yellow;
    text-align: center;
    
    background-color: none;
    background-color: rgba(240, 248, 255, 0);
    
}

</style>    

<form method="POST">
    {% csrf_token %}
<div id="container">
    <div id="top">
        <div id="profiles">
            <h4>Wybierz profil</h4>
            <div class="profil">
                <label> 
                <input type="radio" id="blacha" name="my_variable_name" value="Blacha"onclick="showForm('formB')">
                {% load static %}<img src="{% static 'images/b.png' %}" />
                </label>
            </div>
            
            <div class="profil">
                <label>
                <input type="radio" id="walek" name="my_variable_name" value="Walek" onclick="showForm('formW')"/>
                {% load static %}<img src="{% static 'images/w.png' %}" />
                </label>
            </div>
            
            <div class="profil">
                <label> 
                <input type="radio" id="rura" name="my_variable_name" value="Rura" onclick="showForm('formR')"/>
                {% load static %}<img src="{% static 'images/r.png' %}" />
                </label>
            </div>
    
        </div>
        <div id="cena">
            <h4>Podaj cenę zł/kg</h4>
            
                <div id="price">
                    <input class="price" type="number" id="cena" name="cena"step="any" value="0">
                </div>
        </div>
        <div id="gatunek">
                <h4>Wybór gatunków</h4>
                {{ form }}
        </div>
    </div>


    <div id="dodaj_gatunek">
        <a class="btn" href="{% url 'nowy_gatunek' %}" >
            <button type="button" onclick="document.getElementById('myForm').submit();" style="background-color: rgba(255, 0, 255, 0); color: #549fca; border: none;"><i class="fa-solid fa-plus fa-4x"></i></button>
            
        </a>  
       
    </div>


    <div id="labels">
    <form action="">
        <div class="form">
            <div id="formB" style="display: none;">
            <h4>Wprowadź wymiary</h4>
            <div class="entry">
                <label class="label" for="gr">Grubość [mm]:</label>
                <div class="quantity">
                    <input class="left2" type="number" id="gr" name="gr"step="any">
                </div>
            </div>
            <div class="entry">
                <label class="label" for="sz">Szerokość [mm]:</label>
                <div class="quantity">
                    <input class="left2" type="number" id="sz" name="sz" step="any">
                </div>
            </div>
            <div class="entry">
                <label class="label" for="dl">Długość [mm]:</label>
                <div class="quantity">
                    <input class="left2" type="number" id="dl" name="dl" step="any">
                </div>
            </div>
            <div class="btn2">
                <button class="calculate" type="submit" style="border: none;"><i class="fa-solid fa-calculator fa-5x"></i><br>Oblicz</button>
                </div>
        </div>
        </div>
        <div class="form">
            <div class="formW" id="formW" style="display: none;">
                <h4>Wprowadź wymiary</h4>
            
                <div class="entry">
                    <label class="label" for="sr">Średnica [mm]:</label>
                    <div class="quantity">
                        <input class="left2" type="number" id="sr" name="sr" step="any">
                    </div>
                </div>
                <div class="entry">
                    <label class="label" for="d">Długość [mm]:</label>
                    <div class="quantity">
                        <input class="left2" type="number" id="d" name="d" step="any">
                    </div>
                </div>
                <div class="btn2">
                <button class="calculate" type="submit" style="border: none;"><i class="fa-solid fa-calculator fa-5x"></i><br>Oblicz</button>
                </div>
            </div>
        </div>
        
        <div class="form">
                <div class="formR" id="formR" style="display: none;">
                    <h4>Wprowadź wymiary</h4>
                    <div class="entry">
                        <label class="label" for="rsr">Średnica zewn.[mm]:</label>
                        <div class="quantity">
                            <input class="left2" type="number" id="rsr" name="rsr" step="any">
                        </div>
                    </div>
                    <div class="entry">
                        <label class="label" for="rgs">Grubość ścianki [mm]:</label>
                        <div class="quantity">
                            <input class="left2" type="number" id="rgs" name="rgs" step="any">
                        </div>
                    </div>
                    <div class="entry">
                        <label class="label" for="rd">Długość [mm]:</label>
                        <div class="quantity">
                            <input class="left2" type="number" id="rd" name="rd" step="any">
                        </div>
                    </div>
                    
                    <div class="btn2">
                        <button class="calculate" type="submit" style="border: none;"><i class="fa-solid fa-calculator fa-5x"></i><br>Oblicz</button>
                        </div>
                </div>
                
        </div>
        
    
    
    </form>    
    </div>
    <div id="results">
        <div id="Materiał">
            <Span>Waga</Span><br>
        
        </div>
        <div id="result">
            <Span>Waga</Span><br>
        {% if result == 0 %}
            ----
        {% else %}
            {{ result}} kg
        {% endif %}
        </div>
        <div id="weight">
            <Span>Wartość</Span><br>
        {% if cost == 0 %}
            ----
        {% else %}
            {{cost}} zł
        {% endif %}
        </div>
    </div>
</div>


            

<!-- Skrypty -->
<script>
function showForm(formId) {
  var form1 = document.getElementById("formB");
  var form2 = document.getElementById("formW");
  var form3 = document.getElementById("formR");

  if (formId === 'formB') {
    form1.style.display = "block";
    form2.style.display = "none";
    form3.style.display = "none";
  } else if (formId === 'formW') {
    form1.style.display = "none";
    form2.style.display = "block";
    form3.style.display = "none";
  } else if(formId === 'formR') {
    form1.style.display = "none";
    form2.style.display = "none";
    form3.style.display = "block";
}}
</script>

{% endblock %}