{% extends 'glowny.html' %}

{% block tytul %} Kontrahenci {% endblock %}

{% block strona %}

    <h1>Lista kontrahentów</h1>
    <a href="{% url 'nowy_kontrahent' %}">Dodaj</a>
    {% for kontrahent in kontrahenci %}
        <h2>{{kontrahent.Nazwa}}</h2>
        <p>{{kontrahent.email}}</p>
        <p>{{kontrahent.tel}}</p>
        <a href="{% url 'edytuj_kontrahenta' kontrahent.id %}">Edytuj</a>
        <a href="{% url 'usun_kontrahenta' kontrahent.id %}">Usuń</a>
    {% endfor %}

{% endblock %}