{% extends 'glowny.html' %}

{% block tytul %} Operacje {% endblock %}
{% block strona %}


    <h2>Operacje:</h2>

    <a href="{% url 'dodaj_operacje' %}"><i class="fa-sharp fa-2x fa-solid fa-circle-plus"></i></a>


    <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Nazwa operacji</th>
            <th scope="col">Stawka</th>
            <th scope="col">Typ</th>
            <th scope="col"></th>
          </tr>
        </thead>
        
    {% for operacja in operacje %}
    <tbody>
          <tr>
            <th scope="row">{{operacja.id}}</th>
            <td>{{operacja.operacja}}</td>
            <td>{{operacja.stawka}} zł.</td>
            <td>{{operacja.get_typ_operacji_display }}</td> <!-- Pokazuje wartość ze SŁOWNIKA -->
            <td><a href="{% url 'usun_operacje' operacja.id %}"><i class="fa-solid  fa-trash-can fa-xl"></i></a></td>
          </tr>
        
     {% endfor %}     
        </tbody>
      </table>
        
     
        
   
{% endblock %}