{% extends 'glowny.html' %}

{% block tytul %} Wybierz indeks {% endblock %}

{% block strona %}
<h2>Lista indeksów kontrahenta {{ kontrahent.nazwa }}</h2>
{% for indeks in indeksy %}
        
        
        
<hr style="width:50%;text-align:left;margin-left:0">  
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{indeks.indeks }} <button type="submit">Dodaj indeks</button>
        
 
    </li> 
</ul> 

        
    
    
    
    
  
{% endfor %}    
{% endblock %}
